/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

/* */

:root {
    /**
   * colors
   */
    --bg-default: #222327;
    --primary-white: #ffffff;
    --primary-red: #ff3c41;
    --rich-black-fogra-29: #14171f;
    --raisin-black: hsl(228, 13%, 15%);
    --eerie-black: hsl(207, 19%, 11%);
    --light-gray: hsl(0, 3%, 80%);
    --gunmetal-1: hsl(229, 15%, 21%);
    --gunmetal-2: hsl(216, 22%, 18%);
    --gainsboro: hsl(0, 7%, 88%);
    --citrine: #00c3dd;
    --xiketic: hsl(253, 21%, 13%);
    --gray-x: hsl(0, 0%, 74%);
    --white: hsl(0, 100%, 100%);
    --black: #002147;
    --jet: hsl(0, 0%, 20%);
    --live-indicator-shadow: hsla(0, 79%, 63%, 0.5);
    --rich-black-fogra-30: hsl(219, 32%, 10%);
    --live-indicator: hsl(0, 79%, 63%);
    --oxford-blue-50: hsla(218, 39%, 14%, 0.8);
    --oxford-blue: hsl(218, 39%, 14%);
    --off-white: hsl(0, 0%, 88%);
    --yellow: hsl(45, 100%, 54%);
    --white: hsl(0, 0%, 100%);
    --azure: hsl(211, 100%, 50%);

    /**
   * typography
   */

    --ff-poppins: "Poppins", sans-serif;

    --fs-1: 36px;
    --fs-2: 32px;
    --fs-3: 30px;
    --fs-4: 24px;
    --fs-5: 20px;
    --fs-6: 18px;
    --fs-7: 16px;
    --fs-8: 15px;
    --fs-9: 14px;
    --fs-10: 13px;
    --fs-11: 12px;
    --fs-12: 11px;

    --fw-500: 500;
    --fw-700: 700;

    /**
   * transition
   */

    --transition-1: 0.15s ease;
    --transition-2: 0.25s ease-in;

    /**
   * spacing
   */

    --section-padding: 100px;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

li {
    list-style: none;
    text-decoration: None;
}

li:hover {
    list-style: none;
    text-decoration: None;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

::selection {
    background-color: var(--citrine) !important;
    color: #e8e6e3 !important;
}

select,
button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

body {
    background: var(--rich-black-fogra-29);
    color: var(--off-white);
    -webkit-font-smoothing: antialiased;
}

body.active {
    overflow: hidden;
}

.navigation {
    width: 360px;
    height: 63px;
    background: var(--bg-default);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 0 20px;
}

.navigation .listWrap {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation .listWrap li {
    width: 71px;
    height: 28px;
    position: relative;
    z-index: 1;
}

.navigation .listWrap li a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    width: 100%;
}

.navigation .listWrap li a:hover {
    text-decoration: none;
}

.navigation .listWrap li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: 0.5s;
    color: var(--bg-default);
}

.navigation .listWrap li a .icon ion-icon {
    font-size: 2.2rem;
    color: white;
}

.navigation .listWrap li a .text {
    position: absolute;
    color: var(--bg-default);
    font-weight: 400;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
    z-index: 1;
}

.navigation .listWrap li:active a .icon,
.navigation .listWrap li.active a .icon {
    color: var(--primary-white);
    transform: translate(2px, -32px);
}

.navigation .listWrap li:active a .text,
.navigation .listWrap li.active a .text {
    opacity: 1;
    color: white;
    transform: translateY(10px px);
}

.navigation .listWrap li.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -50%;
    border-radius: 50%;
    border: 6px solid var(--bg-default);
    background: var(--citrine);
    transition: 0.3s;
    z-index: 0;
}

.navigation .listWrap li.indicator:before,
.navigation .listWrap li.indicator:after {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: blue;
    background: transparent;
}

.navigation .listWrap li.indicator:after {
    right: -22px;
    box-shadow: -1px -10px 0 0 var(--bg-default);
    border-top-left-radius: 20px;
}

.navigation .listWrap li.indicator:before {
    left: -22px;
    box-shadow: 1px -10px 0 0 var(--bg-default);
    border-top-right-radius: 20px;
}

.navigation .listWrap li:nth-child(1).active~.indicator {
    transform: translateX(calc(60px * 0));
}

.navigation .listWrap li:nth-child(2).active~.indicator {
    transform: translateX(calc(60px * 1 + (2px * 1)));
}

.navigation .listWrap li:nth-child(3).active~.indicator {
    transform: translateX(calc(60px * 2 + (2px * 2) + 1px));
}

.navigation .listWrap li:nth-child(4).active~.indicator {
    transform: translateX(calc(60px * 3 + (2px * 3) + 2px));
}

.navigation .listWrap li:nth-child(5).active~.indicator {
    transform: translateX(calc(60px * 4 + (2px * 4) + 3px));
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
    padding-inline: 15px;
}

/**
 * TITLES & SUBTITLES
 */

.h1,
.h2,
.h3 {
    color: var(--white);
    line-height: 1.2;
}

.h1 {
    font-size: var(--fs-1);
}

.h2 {
    font-size: var(--fs-2);
}

.h3 {
    font-size: var(--fs-6);
}

/**
 * BADGE
 */

.badge {
    color: var(--white);
    font-size: var(--fs-12);
    font-weight: var(--fw-700);
    border: 2px solid transparent;
    padding: 2px 10px;
}

.badge-fill {
    background: var(--white);
    color: var(--raisin-black);
}

.badge-outline {
    border-color: var(--white);
}

/**
 * MOVIE META
 */

.meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px 25px;
    margin-bottom: 50px;
}

.badge-wrapper,
.ganre-wrapper,
.date-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
}

.ganre-wrapper>a {
    color: var(--gainsboro);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    transition: var(--transition-1);
}

.ganre-wrapper>a:is(:hover, :focus) {
    color: var(--citrine);
}

.date-time {
    gap: 15px;
}

.date-time>div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--gainsboro);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
}

.date-time ion-icon {
    --ionicon-stroke-width: 50px;
    color: var(--citrine);
}

/**
 * BUTTONS
 */

.btn {
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 30px;
    border: 2px solid var(--citrine);
    border-radius: 50px;
    transition: var(--transition-1);
}

.btn>ion-icon {
    font-size: 18px;
}

.btn-primary {
    background: var(--rich-black-fogra-29);
}

.btn-primary:is(:hover, :focus) {
    background: var(--citrine);
    color: var(--xiketic);
}

/**
 * CUSTOM SLIDER & SCROLLBAR
 */

.movies-list.has-scrollbar {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-bottom: 25px;
}

.has-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.has-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: 0 0 0 2px var(--citrine);
    border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--gainsboro);
    border-radius: 10px;
    box-shadow: inset 0 1px 0 var(--black), inset 0 -1px 0 var(--black);
}

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    transition: var(--transition-2);
    z-index: 4;
}

.header.active {
    padding-block: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions {
    display: none;
}

.menu-open-btn {
    color: var(--white);
    font-size: 40px;
}

.navbar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
    transition: 0.15s ease-in;
    visibility: hidden;
    z-index: 3;
}

.navbar.active {
    padding-left: 6px;
    background-color: var(--rich-black-fogra-29);
    right: -48px;
    visibility: visible;
    transition: 0.25s ease-out;
    height: 113vh;
}

.navbar-top {
    padding: 30px 1px;
    display: flex;

    align-items: center;
}

.menu-close-btn {
    color: var(--white);
    font-size: 25px;
    padding: 5px;
}

.menu-close-btn ion-icon {
    --ionicon-stroke-width: 80px;
}

.navbar-list {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-bottom: 30px;
}

.navbar-link {
    color: var(--white);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    padding: 10px 25px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
    color: var(--citrine);
    text-decoration: none !important;
}

.navbar-social-list {
    padding-left: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.navbar-social-link {
    font-size: 20px;
    color: var(--white);
    transition: var(--transition-1);
}

.navbar-social-link:is(:hover, :focus) {
    color: var(--citrine);
}

.overlay {
    position: fixed;
    inset: 0;
    background: hsla(204, 18%, 11%, 0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-2);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.navbar-actions {
    display: flex;
    align-items: center;
}

.navbar-form {
    position: relative;
    margin-right: 50px;
}

.navbar-form-search {
    background: var(--oxford-blue);
    width: 100%;
    padding: 12px 20px;
    border-radius: 15px;
    color: var(--off-white);
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}

.navbar-form-btn {
    background: var(--oxford-blue);
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
}

.navbar-form-btn ion-icon,
.navbar-search-btn ion-icon {
    font-size: 20px;
    color: var(--light-azure);
    --ionicon-stroke-width: 50px;
}

.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder {
    color: var(--off-white);
}

/**
 * navbar-form close button & navbar search button
 * for small device
 */

.navbar-form-close,
.navbar-search-btn {
    display: none;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/
.hero {
    background: url(/public/joker.jpg) no-repeat;
    background-size: cover;
    margin-top: -100px;
    /* background-position: center; */
    min-height: 750px;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--section-padding);
}

.hero-content {
    margin-top: 60px;
}

.app {
    background-color: hsl(202deg 100% 13%);
    max-width: 930px;
    max-height: 488px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(55px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 15px;
    font-weight: 500;
}

.overlay-app {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: all;
    background-color: rgba(36, 39, 59, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.overlay-app.is-active {
    visibility: visible;
    opacity: 1;
}

.hero-subtitle {
    color: var(--citrine);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
}

.hero-title {
    margin-bottom: 30px;
}

.hero-title>strong {
    color: var(--citrine);
}

#go_top_id {
    position: fixed;
    margin-bottom: 30px;
}

/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;

    color: var(--eerie-black);

    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
    z-index: 2;
}

.go-top.active {
    opacity: 1;
    visibility: visible;
}

/* search bar bottom */

.outline-none {
    color: black !important;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.section_search_bar {
    border-bottom: 8px solid var(--gunmetal-1);
}

.video-tv img {
    position: relative;
    z-index: 1;
}

.video-tv video {
    position: absolute;
    top: 21%;
    left: 13.2%;
    max-width: 72.7%;
}

.img500px {
    width: 100%;
    max-width: 500px;
}

.div_350px {
    max-width: 350px;
}

.video-tev img {
    position: relative;
    z-index: 1;
}

.video-tev video {
    position: absolute;
    top: 11%;
    left: 18%;
    max-width: 64%;
}

/* search bar bottom */

/*-----------------------------------*\
 * #MOVIE DETAIL
\*-----------------------------------*/

.movie-detail {
    background-image: linear-gradient(rgba(16, 38, 86, 0.2), rgba(4, 9, 30, 0.3)),
        url("../public/poster-3.jpg");
    margin-bottom: -49px;
    margin-bottom: 4;
    margin-top: -87px;
    background-position: center;
    padding-top: 148px;
}

.movie-detail_2 {
    background-image: linear-gradient(rgba(16, 38, 86, 0.6), rgba(4, 9, 30, 0.8)),
        url("../public/joker.jpg");

    margin-bottom: 4;
    margin-top: -87px;
    background-position: center;
    padding-top: 14px;
    min-height: 100vh;
}

.movie-detail-banner {
    position: relative;

    max-width: 300px;
    margin-inline: auto;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 50px;
}

.movie-detail-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_banner {
    border-radius: 15px;
}

.play-btn {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 120px;
    color: var(--white);
    transition: var(--transition-1);
}

.play-btn:hover {
    background: hsla(0, 0%, 0%, 0.25);
}

.detail-subtitle {
    font-size: var(--fs-5);
    color: var(--citrine);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
}

.detail-title {
    margin-bottom: 20px;
}

.detail-title strong {
    color: var(--citrine);
}

.movie-detail .meta-wrapper {
    margin-bottom: 30px;
}

.storyline {
    color: var(--gray-x);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    line-height: 1.8;
    margin-bottom: 40px;
}

.details-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 40px;
    max-width: 460px;
    background: var(--gunmetal-2);
    padding: 25px;
    border: 1px solid var(--jet);
    border-radius: 4px;
    margin-bottom: 30px;
}

.details-actions .share ion-icon {
    font-size: 25px;
    color: var(--white);
    margin-inline: auto;
}

.details-actions .share span {
    color: var(--gainsboro);
    font-size: var(--fs-11);
    transition: var(--transition-1);
}

.details-actions .share:is(:hover, :focus) span {
    color: var(--citrine);
}

.details-actions .title {
    color: var(--white);
    font-weight: var(--fw-700);
}

.details-actions .text {
    font-size: var(--fs-11);
    color: var(--gainsboro);
}

.details-actions .btn-primary {
    font-size: 10px;
    padding: 13px 26px;
    letter-spacing: 0;
    background: transparent;
}

.details-actions .btn-primary:is(:hover, :focus) {
    background: var(--citrine);
}

.download-btn {
    max-width: max-content;
    background: var(--citrine);
    color: var(--rich-black-fogra-29);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 35px;
    letter-spacing: 5px;
    border-radius: 6px;
}

.download-btn ion-icon {
    font-size: 16px;
}

#p_tag_center {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 550px screen
 */

@media (min-width: 550px) {
    /**
   * CUSTOM PROPERTY
   */

    :root {
        /**
     * typography
     */

        --fs-1: 42px;
    }

    /**
   * REUSED STYLE
   */

    .container {
        max-width: 540px;
        margin-inline: auto;
    }

    /* MOVIE CARD */

    .movies-list {
        grid-template-columns: 1fr 1fr;
        gap: 60px 30px;
    }

    /**
   * HERO
   */

    .hero {
        min-height: unset;
    }

    .hero-content {
        margin-top: 20px;
    }

    /**
   * MOVIE DETAIL
   */

    .detail-subtitle {
        --fs-5: 22px;
    }

    .detail-title {
        --fs-1: 46px;
    }
}

/*---------popular------*/
.heading h2 {
    font-size: 25px;
    color: white;
}

.heading {
    margin-bottom: 30px;
    text-align: center;
}

.heading button {
    padding: 15px 50px;
}

.popular {
    color: white;
    margin-top: 80px;
    padding: 45px;
}

/*---------image_hover------*/
.popular .box {
    position: relative;
    background: #221f1f;
    width: 100%;
    cursor: pointer;
}

.popular .box .imgBox {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.popular .box .imgBox img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.popular .box:hover .imgBox img {
    opacity: 0.6;
    transform: scale(1.1);
}

.popular .box .content {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 40%;
    z-index: 2;
}

.popular .box .content i {
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.popular .box:hover .content i {
    opacity: 1;
    visibility: visible;
}

.popular #palybtn {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

/*----icon------*/
.popular .icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.popular .icon i {
    font-size: 20px;
    margin: 10px;
}

/*----text------*/
.popular .text {
    padding: 20px;
    background-color: var(--oxford-blue);
}

.popular .time {
    margin: 0;
}

.popular .time a {
    color: var(--citrine);
}

.owl-s .dots span {
    font-size: 20px;
    color: white;
}

.owl-nav span {
    font-size: 50px;
    color: white;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 25%;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

/* top cast */

.slick-slide img {
    height: 100% !important;
    width: 100% !important;
}

.profile-card-2 {
    max-width: 230px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(rgba(16, 38, 86, 0.8), rgba(4, 9, 30, 0.8));
    /* FF3.6+ */
    background: -webkit-gradient(rgba(16, 38, 86, 0.8), rgba(4, 9, 30, 0.8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(rgba(16, 38, 86, 0.8),
            rgba(4, 9, 30, 0.8));
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(rgba(16, 38, 86, 0.8), rgba(4, 9, 30, 0.8));
    /* Opera 11.10+ */
    background: -ms-linear-gradient(rgba(16, 38, 86, 0.8), rgba(4, 9, 30, 0.8));
    /* IE10+ */
    background: linear-gradient(rgba(16, 38, 86, 0.8), rgba(4, 9, 30, 0.8));
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.img-gradient img {
    display: block;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

#max_width_700px {
    max-width: 700px;
    padding: 25px 0px;
}

div h1 {
    font-size: 3.125rem;
}

.profile-card-2 .profile-name {
    z-index: 33;
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #fff;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #fff;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}

/* top cast */

/*-------------------------------------*\
  #MRECOMMEND CARD
\*-------------------------------------*/

#movie_grid_recon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 30px;
    margin-bottom: 6px;
    padding: 30px;
}

#profile_card_recom {
    background-color: #222222;
    margin-bottom: 20px;
    border-radius: 20px;
}

.profile-pic {
    border-radius: 50%;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 100px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.profile-info {
    color: var(--off-white);
    background-color: var(--oxford-blue);
    padding: 25px;
    position: relative;
    border-radius: 20px;
}

.profile-info h2 {
    color: #e8e8e8;
    letter-spacing: 4px;
    padding-bottom: 12px;
}

.profile-info span {
    display: block;
    font-size: 12px;
    color: var(--citrine);
    letter-spacing: 2px;
}

.profile-info a {
    color: #4cb493;
}

.profile-info i {
    padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
    transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
    opacity: 1;
}

img#img_responsive {
    width: 100%;
    border-radius: 20px;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #ffffff;
    border-radius: 50%;
    height: 3px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
    height: 1px;
    background: #cecece;
    border-radius: 0;
}

@media (max-width: 500px) {
    #movie_grid_recon {
        padding: 5px;
    }
}

/*-------------------------------------*\
  #MOIVES SECTION
\*-------------------------------------*/

.movies {
    margin-bottom: 6px;
    padding: 45px;
}

/**
 * filter bar style
 */

#filter_bar_id {
    display: block;
    justify-content: center;
    align-items: center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.filter-bar select {
    color: var(--white);
    font-size: var(--fs-sm);
    margin-right: 15px;
    cursor: pointer;
}

.filter-bar option {
    background: var(--oxford-blue);
}

.filter-radios {
    position: relative;
    background: var(--rich-black-fogra-29);
    padding: 10px;
    border-radius: 15px;
}

.filter-radios input {
    display: none;
}

.filter-radios label {
    position: relative;
    margin: 0 10px;
    font-size: var(--fs-sm);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

.filter-radios input:checked+label,
.filter-radios label:hover {
    color: var(--citrine);
}

input~.checked-radio-bg {
    /**
   * variable for changing position and size
   * besed on radio checked
   */
    --width: 85px;
    --left: 5px;

    background: var(--oxford-blue);
    position: absolute;
    top: 5px;
    left: var(--left);
    bottom: 5px;
    width: var(--width);
    border-radius: 10px;
}

#popular:checked~.checked-radio-bg {
    --width: 73px;
    --left: 90px;
}

#newest:checked~.checked-radio-bg {
    --width: 81px;
    --left: 163px;
}

/**
 * movies grid
 */

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 30px;
    margin-bottom: 6px;
    padding: 30px;
}

.movie-card {
    /**
   * variable for scaling overlay element on card hover
   */
    --scale: 0.8;

    cursor: pointer;
}

.movie-card .card-head {
    position: relative;

    border-radius: 15px;
    overflow: hidden;
}

.movie-card:hover .card-img {
    transform: scale(1.1);
}

.movie-card .card-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.movie-card:hover .card-overlay {
    opacity: 1;
}

.movie-card .bookmark,
.movie-card .rating {
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: var(--citrine);
    transform: scale(var(--scale));
}

.movie-card .bookmark {
    background: var(--oxford-blue);
    left: 15px;
}

.movie-card .bookmark:hover {
    color: var(--yellow);
}

.movie-card .rating {
    display: flex;
    align-items: center;
    right: 15px;
    background: var(--oxford-blue-50);
}

.movie-card .rating span {
    color: var(--white);
    font-size: 13px;
    font-weight: var(--fw-5);
    margin-left: 5px;
}

.movie-card ion-icon {
    font-size: 16px;
    display: block;
    --ionicon-stroke-width: 50px;
}

.movie-card .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card .play ion-icon {
    font-size: 60px;
    --ionicon-stroke-width: 20px;
}

.movie-card:hover :is(.bookmark, .rating, .play) {
    --scale: 1;
}

.movie-card .card-title {
    font-size: var(--fs-md);
    font-weight: var(--fw-5);
    margin-bottom: 5px;
}

.movie-card:hover .card-title {
    color: var(--citrine);
}

.movie-card .card-info {
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
}

.movie-card .genre {
    margin-right: 8px;
}

/**
 * load more button
 */

.load-more {
    background: var(--oxford-blue);
    display: block;
    padding: 20px 50px;
    margin: auto;
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
    border-radius: 15px;
    color: var(--white);
}

.load-more:hover {
    background: var(--citrine);
}

/* FOOTER */

.footer-brand {
    text-align: -webkit-center;
}

.site-footer {
    background-color: #14171f;
    text-align: center;
    padding: 15px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: var(--off-white) !important;
    background: url("../public/footer-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-logo {
    width: 100px;
    margin-bottom: 30px;
}

.slogan {
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;
}

.social-link a {
    display: inline-block;
}

.social-link ion-icon {
    font-size: 25px;
    margin-right: 20px;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: var(--off-white);
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: var(--off-white);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    color: var(--off-white);
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }

    .navbar {
        position: fixed;
        display: -ms-flexbox;
        display: block;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 500px) {
    .movies {
        padding: 10px;
    }

    .movies-grid {
        padding: 5px;
    }

    .popular {
        padding: 5px;
    }

    .popular .text {
        padding: 3px;
    }

    #h3_my_generation {
        font-size: 1rem;
    }

    .navbar {
        position: fixed;
        display: -ms-flexbox;
        display: block;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 767px) {
    .navbar {
        position: fixed;
        display: -ms-flexbox;
        display: block;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .movies {
        padding: 20px;
    }

    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }

    /**
   * filter bar responsive
   */
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar select {
        margin-bottom: 20px;
    }

    .filter-radios {
        width: 100%;
    }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
    /**
   * CUSTOM PROPERTY
   */

    :root {
        /**
     * typography
     */

        --fs-2: 36px;
    }

    /**
   * REUSED STYLE
   */

    .container {
        max-width: 720px;
    }

    /**
   * HEADER
   */

    .header .container {
        gap: 30px;
    }

    .header-actions {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 35px;
    }

    .header-actions .btn-primary {
        display: none;
    }

    .search-btn {
        position: relative;
        color: var(--white);
    }

    .search-btn ion-icon {
        --ionicon-stroke-width: 80px;
    }

    .search-btn::after {
        content: "";
        position: absolute;
        top: 1px;
        right: -20px;
        background: hsla(0, 0%, 100%, 0.1);
        width: 2px;
        height: 14px;
    }

    .lang-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .lang-wrapper label {
        color: var(--citrine);
        font-size: 20px;
    }

    .lang-wrapper select {
        color: var(--white);
        font-size: var(--fs-9);
        font-weight: var(--fw-700);
    }

    .lang-wrapper option {
        color: var(--black);
    }

    /**
   * HERO
   */

    .hero-content {
        margin-top: 90px;
    }

    /**
   * CTA
   */

    .cta-form {
        position: relative;
        max-width: 530px;
        margin-inline: auto;
    }

    .cta .email-field {
        margin-bottom: 0;
    }

    .cta-form-btn {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
    }

    /**
   * MOVIE DETAIL
   */

    .detail-subtitle {
        --fs-5: 26px;
    }

    .detail-title {
        --fs-1: 50px;
    }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 960px;
    }

    .filter-bar {
        margin-top: 25px;
    }

    /* MOVIE CARD */

    .movies-list {
        grid-template-columns: repeat(3, 1fr);
    }

    /**
   * HEADER
   */

    .header.active {
        padding-block: 5px;
    }

    .menu-open-btn,
    .navbar-top,
    .navbar-social-list {
        display: none;
    }

    .navbar {
        all: unset;
        margin-left: auto;
    }

    .header-actions {
        order: 1;
        margin-left: 0;
    }

    .navbar-list {
        all: unset;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar-link {
        border-bottom: none;
        font-size: var(--fs-9);
        font-weight: var(--fw-700);
        text-transform: uppercase;
        padding: 30px 15px;
    }

    .overlay {
        display: none;
    }

    /**
   * HERO
   */

    .hero {
        background-position: right;
    }

    .hero .container {
        width: 950px;
    }

    .hero-content {
        margin-top: 100px;
        max-width: 600px;
    }

    /**
   * MOVIE DETAIL
   */

    .movie-detail {
        padding-bottom: 50px;
    }

    .movie-detail_2 {
        padding-bottom: 50px;
    }

    .movie-detail .container {
        position: relative;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .movie-detail_2 .container {
        position: relative;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .movie-detail-banner,
    .details-actions {
        margin: 0;
    }

    .download-btn {
        position: absolute;
        left: 15px;
        bottom: -80px;
    }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
    /**
   * CUSTOM PROPERTY
   */

    :root {
        /**
     * typography
     */

        --fs-1: 60px;
        --fs-4: 26px;
    }

    /**
   * REUSED STYLE
   */

    .container {
        max-width: 1320px;
    }

    /* MOVIE CARD */

    .movies-list {
        grid-template-columns: repeat(4, 1fr);
    }

    /**
   * HEADER
   */

    .header-actions .btn-primary {
        display: block;
        --fs-11: 14px;
        padding: 10px 35px;
        letter-spacing: 1px;
    }

    /**
   * HERO
   */

    .hero .container {
        width: 1320px;
    }

    /**
   * MOVIE DETAIL
   */

    .movie-detail-content {
        max-width: 620px;
    }

    .detail-title {
        --fs-1: 60px;
    }

    .download-btn {
        left: auto;
        right: 15px;
        bottom: 0;
        transform: rotate(0.25turn) translateY(100%);
        transform-origin: bottom right;
        padding: 40px 50px;
    }

    .download-btn ion-icon {
        font-size: 30px;
        transform: rotate(-0.25turn);
    }
}

::-webkit-scrollbar {
    background: #131720;
}

::-webkit-scrollbar-thumb {
    background: var(--citrine);
    border-radius: 3em;
    border: 3px solid var(--rich-black-fogra-29);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

.SearchBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CompleteBar {
    width: 42.082%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BAR {
    margin: 0 auto;
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #8991a5;
    display: flex;
    justify-content: center;
    height: 45px;
}

.BAR:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.BAR:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchingbar {
    height: 100%;
    border: none;
    width: 86.956%;
    font-size: 16px;
    outline: none;
    font-family: "Montserrat";
}

.searchList {
    margin-top: 2px;
    width: 300px;
    z-index: 100;
    position: fixed;
    top: 36.25%;

    background-color: #eaeff2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
}

.searchItem {
    text-decoration: none !important;
    cursor: pointer !important;
}

.searchList::-webkit-scrollbar {
    display: none;
}

.searchItem {
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

.searchList .searchItem {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    color: black;
    font-family: "Montserrat";
    justify-content: center;
    text-align: center;
}

.searchItem:hover {
    background-color: #303030;
    color: #fff !important;
}

.search-button {
    border-color: transparent;
    background-color: transparent;
    width: 3.478%;
    margin: 0;
    padding: 0;
}

.NotFound {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.search-button:active {
    border-color: #8991a5;
}

.fas {
    margin: 0;
    padding: 0;
}

@media (max-width: 760px) {
    .CompleteBar {
        width: 400px;
    }

    .BAR {
        width: 400px;
    }
}

@media (max-width: 440px) {
    .CompleteBar {
        width: 330px;
    }

    .BAR {
        width: 330px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Roboto:wght@400;500;700&display=swap");

.movie-details {
    margin-top: 3%;
    font-family: "Montserrat", sans-serif;
}

.overveiwContent {
    font-size: medium;
}

.left-box {
    color: #fff !important;
    margin: 15px 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

.casting {
    transition: width 0.5s, height 0.5s;
    text-decoration: none;
}

.casting a {
    text-decoration: none;
}

.casting img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 35px;
    transition: width 0.5s, height 0.5s;
}

.topTitle-Movie {
    font-weight: 700;
}

.casting img:hover {
    height: 80px;
    width: 80px;
}

.main-img {
    height: 420px;
    box-shadow: -4px 4px 5px 0 #000;
}

.recommendedMovies {
    width: 100%;
    background-color: #0f1014;
    margin-top: 4.5%;
}

.RecommendHeading {
    color: #fff;
    font-family: "Montserrat";
    padding-left: 15px;
    margin-bottom: 20px;
}

.trailer-bttn {
    margin-top: 15px;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 0.4em;
    cursor: pointer;

    font-weight: 400;
    padding: 4px 9px;
    background: #3a86ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-color: #3a86ff !important;
    transition: width 0.2s, height 0.2s;
}

.overveiwContent {
    font-size: 5vw;
}

.youtube-container {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.trailer-bttn:hover {
    padding: 5px 12px;
}

.recommendedGrid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.MainBackGround {
    background-size: contain;
}

.close-bttn {
    z-index: 100;
    margin-top: 15px;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 0.4em;
    cursor: pointer;

    font-weight: 400;
    padding: 4px 9px;
    background: #3a86ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-color: #3a86ff !important;
    transition: width 0.2s, height 0.2s;
}

.close-bttn:hover {
    padding: 5px 12px;
}

.trailerContainer {
    position: relative;
}

.DisplayOn {
    display: flex;
    justify-content: center;
}

.DisplayOFF {
    display: none;
}

@media screen and (max-width: 1080px) {
    .recommendedGrid {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .MainBackGround {
        background-size: auto;
    }
}

@media screen and (max-width: 900px) {
    .recommendedGrid {
        gap: 12px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-img {
        height: 360px;
    }
}

@media screen and (max-width: 770px) {
    .recommendedGrid {
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .main-img {
        height: 300px;
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 560px) {
    .recommendedGrid {
        gap: 9px;
        grid-template-columns: 1fr 1fr;
    }

    .main-img {
        height: 280px;
    }

    .movie-details {
        font-size: 14px;
    }

    .MainBackGround {
        background-size: cover;
    }

    .casting img:hover {
        height: 55px;
        width: 55px;
    }
}